.App {
  margin: 0%;
  padding: 0%;
  text-align: center;
  font-family: "Roboto", Helvetica;
}
body {
  background-color: rgba(39, 57, 61, 1);
}
.Feed {
  height: 50%;
  display: flex;
  border: 1px solid rgba(39, 57, 61, 1);
  box-sizing: border-box;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 75%;
  margin: auto;
}
.FeedThread {
  flex: 25%;
  padding: 0px;
  background-color: rgba(39, 57, 61, 1);
  width: auto;
}

.FeedThread img {
  max-width: 100%;
  height: auto;
}
.title {
  font-weight: bold;
}

#formText {
  color: rgba(25, 157, 116, 1);
}

#main {
  background-color: rgba(39, 57, 61, 1);
}
#search {
  width: 100%;
  padding-top: 5;
  padding-left: 5;
  background-color: rgba(39, 57, 61, 1);
}
.Posting {
  width: 100%;
}

.startButtons {
  display: flex;
  width: 50%;
  margin: auto;
  padding-top: 6px;
}

.Cheeseburger {
  background-color: rgba(39, 57, 61, 1);
}
.logoInMain {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 20%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgb(64, 98, 105);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(39, 57, 61, 1);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(25, 157, 116, 1);
}

html {
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(39, 57, 61, 1) !important;
  scrollbar-width: thin !important;
}
