/* Feed */
#feedRoot {
  align-items: center;
  padding-left: 15%;
  padding-right: 12.5%;
  padding-top: 20px;
  padding-bottom: 20px;
  align-content: center;
  width: 70%;
}

.FeedScrollView {
  scrollbar-width: thin;
}

.result {
  max-width: 1100px;
}

.twoColumn {
  flex: 50%;
}
.SearchResult > .twoColumn {
  padding: 0px;
  background-color: #131c1e;
  box-sizing: border-box;
  border: 1px solid #131c1e;
  max-height: 25vh;
  float: left;
  overflow: hidden;
}
#desc {
  color: white;
  text-align: left;
}
.twoColumnSearch {
  display: flex;
  width: 100%;
  height: 100%;
}
#desc > h4 {
  padding: 0px;
  margin-bottom: -10px;
}
.twoColumn img {
  max-width: 100%;
  height: -webkit-fill-available;
  height: -moz-available;
}
.SearchResult {
  float: left;
  padding: 7.5px 25px 7.5px 25px;
  max-height: 30vh;
  min-height: 30vh;
  display: flex;
  width: 75%;
  overflow: hidden;
  white-space: pre-line;
  word-wrap: break-word;
}
.item {
  flex-direction: column;
  border-color: rgba(25, 157, 116, 1);
  border-width: 1px;
  background-color: #212121;
  margin: 3px;
  width: 200px;
  height: 200px;
  text-align: left;
}
#text {
  align-items: flex-start;
  padding: 5px;
  padding-top: 0px;
  color: white;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  text-overflow: ellipsis;
  line-height: 0px;
  margin-top: -37px;
  background-color: #212121;
  width: auto;
  height: inherit;
}

.FeedP {
  white-space: normal;
  word-wrap: break-word;
  line-height: 15px;
}

.text {
  object-position: 0px -150px;
  position: 0px -150px;
}

.FeedPicture {
  width: 100%;
  height: 100%;
  object-position: 0px -19px;
}
