/* Filter */
.style {
  background-color: #131c1e;
  color: white;
}
.table {
  width: 80%;
  padding: 20px;
}
.style th {
  text-decoration-color: white;
  color: rgba(25, 157, 116, 1);
  text-align: left;
}


/* FilterItem */
td {
  width: 20%;
}
