.App {
  font-family: sans-serif;
  text-align: center;
}
.tree {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 26px;
}

#children {
  display: inline-flex;
}
#parent {
  margin: 5px;
}
