.Taglist {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.TagScrollView {
  min-height: 44px;
  scrollbar-width: none;
}

.TagScrollView .normalButton {
  margin: 2px !important;
}

.Selected .normalButton {
  background: rgb(0, 155, 255) !important;
}

.TagSearch {
  width: -webkit-fill-available;
  width: -moz-available;
}
