.Modal {
  width: 50vw;
  min-height: 550.8px;
  padding: 10px;
  background-color: #212121;
  transform: translate(50%, 15%);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #131c1e;
  margin: 0 0 10px;
  padding: 0;
}
#ButtonModal {
  float: left;
}
.title {
  font-size: 40px;
  text-align: left;
  padding: 0px;
  margin-top: -2px;
  position: static;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  background-color: rgb(64, 98, 105);
}

.react-tabs__tab--selected {
  background: rgba(25, 157, 116, 1);
  border-color: rgba(39, 57, 61, 1);
  color: white;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: rgba(25, 157, 116, 1);
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
