.FullPageLogin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 57, 61, 1);
}

.Login {
  position: relative;
  padding: 2%;
  border: 4px solid rgba(25, 157, 116, 1);
  background-color: rgb(226, 224, 224);
  border-radius: 4px;
}

.LoginInner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 300px;
}

.false{
  background: rgba(255,0,0,0.3);
  display: flex;
  align-items: center;
  padding: 4%;
}