.FullPageLogin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login {
    position: relative;
    padding: 2%;
    border: 3px solid #cccccc;
    border-radius: 4px;
}

.LoginInner {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}