.startButtons {
  margin-top: 1%;
  margin-bottom: 1%;
}
.twoColumn {
  margin: auto;
  flex: 50%;
  margin-top: 4%;
  margin-bottom: 4%;
}
#searchDiv {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
#searchHeader ul {
  width: 100%;
  display: inline-flex;
  margin: 0px;
  padding-left: 0px !important;
}
#searchHeader li {
  width: 100%;
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  min-width: -webkit-fill-available;
  min-width: -moz-available;
}
#searchHeader > .searchBar {
  width: 50vw;
}
